@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RapidResponse';
  src: url('/RapidResponse/RapidResponseSpaced-nA1BP.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --accent: #6FA7C5;
  --background: #FFFFFF;
  --foreground: #1A1A1A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
